.product-cont {
  display: flex;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-cont{
  display: flex;
  max-height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #f55266;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 10.1px),
      #000 calc(100% - 9px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: spinner-mv2oco 1s infinite;
}

@keyframes spinner-mv2oco {
  to {
    transform: rotate(0.5turn);
  }
}
